@import '../../config.scss';

.searchComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 60%;
  //   margin-bottom: 30px;
}

.searchContentContainer {
  display: flex;
  flex-direction: row;
  height: 50%;
  margin: 30px;
  width: 80%;
  background-color: #f1f1f1;
  //   background-color: white;
  box-shadow: inset 2px 2px 14px -10px;
  border-radius: 20px;
  height: 100%;
}

.searchBox {
  width: 50%;
  padding: 30px;
}

.resultBox {
  width: 50%;
  //   padding: 18px 30px;
  overflow: scroll;
  background-color: $backgroundColor;
}

.resultBox::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.resultBox:last-child {
  //   border-left: solid 1px;
  //   border-left: solid 4px $primary;
  //   border-top-left-radius: 8px 255px;
  //   border-bottom-left-radius: 8px 255px;
}

.dcwListItem {
  background-color: #f1f1f1;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: inset 2px 2px 14px -10px;
}

.dcwListItem:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}
