@import '../../config.scss';

.home {
  background-color: $backgroundColor;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.heroContent {
  //   text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 30px;
  width: 80%;
  font-size: 18px;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 14px -10px;
  border-radius: 20px;
  padding: 20px;
  color: $primary;
  height: 100%;
}
